# To ensure app dependencies are ported from your virtual environment/host machine into your container run 'pip freeze > requirements.txt' in the terminal to overwrite this file
Pandas
NumPy
matplotlib
opencv-python
opencv-contrib-python
youtube-dl
PyAutoGUI
mysql-connector-python
imutils
pyyaml
img2pdf
psutil
openai
pyatv
flask-socketio
Flask
flask_cors
geopy
selenium
chromedriver_autoinstaller
Panda3D
mplfinance
keyboard
Pillow
PyTelegramBotAPI

#document reader
langchain
PyPDF2
faiss-cpu
google-generativeai
langchain_google_genai