# To ensure app dependencies are ported from your virtual environment/host machine into your container run 'pip freeze > requirements.txt' in the terminal to overwrite this file
Pandas
NumPy
matplotlib
youtube-dl
mysql-connector-python
imutils
pyyaml
img2pdf
psutil
openai
flask-socketio
Flask
flask_cors
geopy
selenium
chromedriver_autoinstaller
Panda3D
mplfinance
Pillow
PyTelegramBotAPI
beautifulsoup4

#document reader
langchain
PyPDF2
faiss-cpu
google-generativeai
langchain_google_genai
