<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">


  <script src="{{ url_for('static', filename='js/particles.js') }}"></script>

	<title>Home</title>
</head>
<body>



<div id="particles">
  <div id="webcoderskull">
	<h2 id="banner_h2">AMY WEB CONTROL</h2>
	<form method="POST" action="{{ url_for('process_form') }}">
	<input type="text" name="text_input"placeholder="Insert a Comand">
	<input type="submit" value="Submit">
	</form>
    
  </div>
</body>
</html>