:root {
	--color-primary: #33435f;
	--color-secondary: #5c80c0;
	--color-teaceary: #4a628b;
	--color-quaternary: #90adde;
	--color: #fff;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--color);
	transition: background-color 0.5s ease, color 0.5s ease;
	overflow: hidden;
}

#close-new-chat-container-btn,
#close-new-group-container-btn,
#close-config-btn,
#config-btn,
#new-chat-container,
#new-group-container,
#config-container {
	display: none;
	z-index: 2;
	color: var(--color);
}

#close-new-chat-container-btn,
#close-new-group-container-btn,
#close-config-btn,
#config-btn {
	display: block;
}



/*MAIN*/

#main {
	color: #fff;
}

/*MAIN HEADER*/

#main-header {
	background-color: var(--color-primary);
	justify-content: center;
	align-items: center;
}

#main-section {
	height: 100vh;
	background-color: var(--color-quaternary);
}


/*MAIN TABS*/

.groups-tab,
.chats-tab {
	background-color: var(--color-secondary);
	color: #fff;
	border-radius: 0% !important;
}

.nav-link:focus,
.nav-link:hover {
	color: #ffffff;
	background-color: var(--color-teaceary);
}


/*CARDS*/

.group-card,
.chat-card {
	background-color: var(--color-secondary);
	border-radius: .5em;
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
		0 0 0 0px rgb(1, 1, 1),
		0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
	margin: .3em;
}

.card-controls button {
	background-color: transparent;
	border: none;
	border-radius: .01em;
	color: var(--color);
}

.round_image {
	border-radius: 50%;
	max-width: 100%;
}

.chats-group-list {
	height: .2em;
}

.chats-group-list button {
	background-color: #7590bb;
	border: none;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

.chats-group-list i {
	font-size: .6em;
	color: var(--color);
}

/*CHATS*/

#chat-section {
	display: grid;
	grid-template-rows: 1fr 7fr 1fr;
	height: 100vh;
}

#chat-header {
	background-color: var(--color-secondary);
}

#chat-header-name {
	font-size: 1.2em;
}

#chat-header-description {
	font-size: .9em;
}

#chat-content-box {
	overflow-y: scroll;
	scroll-behavior: auto;
}

#message-content-section {
	overflow-y: scroll;
	height: 80vh;
}

/*MESSAGES*/

.message {
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	margin: 5px;
}

.user-message {
	background-color: var(--color-quaternary);
	color: white;
	align-self: flex-end;
	max-width: 60vw;
	width: fit-content;
	border-radius: 10px 10px 0 10px;
	margin-left: auto;
}

.emma-message {
	background-color: var(--color-secondary);
	color: var(--color);
	align-self: flex-start;
	max-width: 60vw;
	width: fit-content;
	border-radius: 10px 10px 10px 0;
	margin-right: auto;
}


/*INPUT BOX*/

#chat-input-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

#message-input {
	flex-grow: 1;
	padding: .6em;
	border: 1px solid #ddd;
	box-sizing: border-box;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 1em;
}

#message-send,
#message-speak,
#attach-docs {
	color: var(--color);
	padding: .7em;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	display: none;
	border-radius: 1em;
	background-color: var(--color-secondary);
}

#attach-docs {
	display: block;
}

#message-send:hover,
#message-speak:hover,
#attach-docs:hover {
	background-color: var(--color-teaceary);
}

/*POP-UP*/
.popup {
	width: fit-content;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-primary);
	color: var(--color);
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: .8em;
	z-index: 1;
}

#create-chat-submit-btn,
#create-group-submit-btn {
	color: var(--color-secondary);
	background-color: var(--color);
}

#create-chat-submit-btn:hover,
#create-group-submit-btn:hover {
	color: var(--color-quaternary);
	background-color: var(--color-primary);
}


/*TOOLKITS*/

.toolkits-select-container {
	position: relative;
	width: 4em;
	height: 4em;
	float: right;
	bottom: 2em;
	right: 1.2em;
	z-index: 1;
	background-color: var(--color-primary);
	color: var(--color);
	padding: 1.3em;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
}


.upward-select {
	position: relative;
	appearance: none;
	padding: 2em;
	font-size: 16px;
	width: 100%;
	height: 100%;
	border: none;
	bottom: 2.3em;
	right: 1.3em;
	z-index: 0;
	background-color: transparent;
	color: transparent;
	cursor: pointer;
	border-radius: 50%;
}