body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
	transition: background-color 0.5s ease, color 0.5s ease;
}

#new-chat-container,
#new-group-container,
#config-container {
	display: none;
}








/*MAIN*/

#main {
	color: #fff;
	background-color: #ffffff;
}

/*MAIN HEADER*/

#main-header {
	background-color: #33435f;
	justify-content: center;
	align-items: center;
}

#main-section {
	height: 100vh;
	background-color: #5c80c0;
}

#config-btn {
	color: #ddd;
}

/*MAIN TABS*/

.groups-tab,
.chats-tab {
	background-color: #4a628b;
	color: #fff;
	border-radius: 0% !important;
}

.groups-tab:enabled,
.chats-tab:enabled {
	background-color: #c0d7ff;
	color: #29374f;
}

#toolkits {
	position: absolute;
	border-radius: 25%;
	bottom: 10px;
	right: 10px;
	display: none;
}


/*CARDS*/

.group-card,
.chat-card {
	background-color: #90adde;
	border-radius: .5em;
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
		0 0 0 0px rgb(1, 1, 1),
		0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
	margin: .3em;
}

.card-controls button {
	background-color: transparent;
	border: none;
	border-radius: .01em;
	color: #fff;
}

.round_image {
	border-radius: 50%;
	max-width: 100%;
}

.chats-group-list {
	height: .2em;
}

.chats-group-list button {
	background-color: #7590bb;
	border: none;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

.chats-group-list i {
	font-size: .6em;
	color: #fff;
}

/*CHATS*/

#chat-section {
	display: grid;
	grid-template-rows: 1fr 7fr 1fr;
	height: 100vh;
}

#chat-header {
	background-color: #5c80c0;
}

#chat-header-name {
	font-size: 1.2em;
}

#chat-header-description {
	font-size: .9em;
}

#chat-content-box {
	overflow-y: scroll;
	scroll-behavior: auto;
}

#message-content-section {
	overflow-y: scroll;
	height: 80vh;
}

/*MESSAGES*/

.message {
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	margin: 5px;
}

.user-message {
	background-color: #4caf50;
	color: white;
	align-self: flex-end;
	max-width: 60vw;
	width: fit-content;
	border-radius: 10px 10px 0 10px;
	margin-left: auto;
}

.emma-message {
	background-color: #2196f3;
	color: white;
	align-self: flex-start;
	max-width: 60vw;
	width: fit-content;
	border-radius: 10px 10px 10px 0;
	margin-right: auto;
}


/*INPUT BOX*/

#chat-input-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

#message-input {
	flex-grow: 1;
	padding: .6em;
	border: 1px solid #ddd;
	box-sizing: border-box;
	margin-right: 10px;
	border-radius: 1em;
}

#message-send,
#message-speak {
	color: #ffffff;
	padding: .6em;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	display: none;
	border-radius: 1em;
}

#message-speak {
	background-color: #5c80c0;
}

#message-send:hover {
	background-color: #8313ce;
}

#message-send {
	background-color: #5c80c0;
}

#message-send:hover {
	background-color: #45a049;
}

#attach-docs {
	padding: .8em 1.2em;
	background-color: #5c80c0;
	margin-right: .6em;
	margin-left: .6em;
	color: #ffffff;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#attach-docs:hover {
	background-color: #45a049;
}

/*POP-UP*/
.popup {
	width: fit-content;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #33435f;
	color: #fff;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: .8em;
	z-index: 1;
}

#create-chat-submit-btn {
	color: #1b1b1b;
	background-color: #ffffff;
}

#create-group-submit-btn {
	color: #1b1b1b;
	background-color: #ffffff;
}