.dark-theme {
	background-color: #33435f;
	color: #fff;
}

.dark-theme #main {
	background-color: #5c80c0;
}

.dark-theme #main-header {
	background-color: #fff;
	color: #33435f;
}

.dark-theme .groups-tab,
.dark-theme .chats-tab {
	background-color: #fff;
	color: #33435f;
}

.dark-theme .group-card,
.dark-theme .chat-card {
	background-color: #4a628b;
}

.dark-theme .card-controls button {
	color: #fff;
}

.dark-theme #chat-header {
	background-color: #fff;
}

.dark-theme .user-message {
	background-color: #fff;
}

.dark-theme .emma-message {
	background-color: #fff;
}

.dark-theme #message-input {
	border: 1px solid #fff;
}

.dark-theme #message-send,
.dark-theme #message-speak {
	background-color: #fff;
}

.dark-theme #attach-docs {
	background-color: #fff;
}

.dark-theme .popup {
	background-color: #fff;
}


/*AQUA THEME*/

.aqua-theme {
	background-color: #00ffff;
	color: #fff;
}

.aqua-theme #main {
	background-color: #00bfff;
}

.aqua-theme #main-header {
	background-color: #fff;
	color: #00ffff;
}

.aqua-theme .groups-tab,
.aqua-theme .chats-tab {
	background-color: #fff;
	color: #00ffff;
}

.aqua-theme .group-card,
.aqua-theme .chat-card {
	background-color: #0095cc;
}

.aqua-theme .card-controls button {
	color: #fff;
}

.aqua-theme #chat-header {
	background-color: #fff;
}

.aqua-theme .user-message {
	background-color: #fff;
}

.aqua-theme .emma-message {
	background-color: #fff;
}

.aqua-theme #message-input {
	border: 1px solid #fff;
}

.aqua-theme #message-send,
.aqua-theme #message-speak {
	background-color: #fff;
}

.aqua-theme #attach-docs {
	background-color: #fff;
}

.aqua-theme .popup {
	background-color: #fff;
}

/*GRAY SCALE*/
.gray-scale-theme {

	filter: grayscale(100%);

}